<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Error 405</title>
	<meta name="viewport" content="width=device-width">
	<link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='err405/405.css')}}">
</head>
<body>
	<header>
		<h1 class="ta-center">Ошибка 405</h1>
		<hr>
	</header>
	<section class="ta-center">
		<div class="alert">Произошла ошибка 405</div>
		<hr>
		<a href="/" class="btn">Вернуться на главную</a>
	</section>
</body>
</html>
